
.bulle {
  position: absolute;
  background: linear-gradient(216.56deg, #00969b 5.32%, #ff6347 94.32%);
  border-radius: 50%;
  animation: float 2s linear infinite; 
}

.bulle.big {
  width: 60px;
  height: 60px;
}

.bulle.medium {
  width: 40px;
  height: 40px;
}

.bulle.small {
  width: 20px;
  height: 20px;
}

@keyframes float {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

/*  */
.hover:hover{
  transform: scale(0.9);
}